@use './mixins.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.3333vw; // 16px / 1200px

  @media screen and (width <= 1024px) {
    font-size: 1.5625vw; // 16px
  }

  @media screen and (width <= 480px) {
    font-size: 3.3333vw; // 16px
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  color: var(--color-text-secondary);
  background: var(--color-background);
  letter-spacing: -0.04rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font-family: inherit;
  background: none;
  cursor: pointer;
}

input,
textarea,
select {
  font-family: inherit;
}

.wrapper {
  max-width: 75.5rem;
  margin: 0 auto;
  padding: 0 2.25rem;
}

.h1 {
  font-size: 9.25rem;
  font-weight: 600;
  line-height: 110%;
  color: var(--color-text);
  letter-spacing: -0.4625rem;
}

.t2 {
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 110%;
  color: var(--color-text);
  letter-spacing: -0.1625rem;

  &--big {
    font-size: 9rem;
    font-weight: 600;
    line-height: 9rem;
    color: var(--color-text);
    letter-spacing: -0.45rem;
  }
}

.h3 {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 120%;
  color: var(--color-text);
  letter-spacing: -0.075rem;

  &--secondary {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 125%;
    color: var(--color-text);
    letter-spacing: -0.0937rem;
  }
}

.h4 {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.0687rem;
}

.h5 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: var(--color-text);
  letter-spacing: -0.0562rem;
}

.text {
  &--lg {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.045rem;
  }

  &--sm {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
    letter-spacing: -0.035rem;
  }

  &-xs {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.03rem;
  }
}

.--text-semibold {
  font-weight: 600;
}

.--text-medium {
  font-weight: 500;
}

.--text-regular {
  font-weight: 400;
}

.--color-white {
  color: var(--color-white);
}

.--color-black {
  color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
