.section {
  padding-bottom: var(--padding-lg);
}

.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
}

.block {
  position: relative;
  border-radius: 1.5625rem;
  overflow: hidden;
  aspect-ratio: 1.3888 / 1;
}

@media screen and (width <=480px) {
  .blocks {
    grid-template-columns: 1fr;
    gap: 0.625rem;
  }
}
