.container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.5625rem;
  overflow: hidden;
}

.video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.muteButton {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  z-index: 10;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  color: var(--color-text-secondary);
  background-color: var(--color-white);
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.2s;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.05);
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
