@use '@/styles/mixins.scss' as *;

.section {
  padding: 10rem 0;
}

.content {
  width: 100%;
  max-width: 48.75rem;

  @include flex-column-gap(2.5rem);
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.socialLink {
  @include flex-start($align: stretch);

  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.2s;

  .text {
    padding: 0 1.5rem;
    border-radius: 6.25rem;
    color: var(--color-black);
    background-color: var(--color-white);
    transition: background-color 0.2s;

    @include flex-center;
  }

  &:hover {
    .text {
      color: var(--color-white);
      background-color: var(--bg-color);
    }
  }
}

.icon {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}

@media screen and (width <= 480px) {
  .section {
    padding: 3.125rem 0;
  }
}
